body {
    background-color: mediumseagreen;
}

h1{
    color: white;
}

h2, h3, a{
    color: darkslategrey;
}

.education-logos {
    /*border-radius: 50%;*/
    height: 100px;
    width: 150px;
    /*width: 100%;*/
}

.education-div {
    display: flex;
    justify-content: space-between;
}



