/*body{*/
/*    background-color: mediumseagreen;*/
/*}*/
/*h1, h2, h3, a {*/
/*    color: white;*/
/*}*/


.carousel-item:nth-child(1) {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(2) {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.carousel-item:nth-child(3) {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}