.skills-div {
    display: flex;
    justify-content: space-between;
}

.skills-logo-img {
    /*border-radius: 50%;*/
    height: 100px;
    width: 150px;
    /*width: 100%;*/
}
.skills-cards {
    height: 300px;
    width: 200px;
    margin-bottom: 5px;
}

body{
    background-color: mediumseagreen;
}
h1, h2, h3, a {
    color: white;
}


/*.carousel-item:nth-child(1) {*/
/*    background-image: url('');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*}*/
/*.carousel-item:nth-child(2) {*/
/*    background-image: url('');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*}*/
/*.carousel-item:nth-child(3) {*/
/*    background-image: url('');*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*}*/